<section class="welcome_area p_120" id="welcome_area">
	<div class="container">
		<div class="row welcome_inner">
			<div class="col-lg-6">
				<div class="welcome_text">
					<h4>About Myself</h4>
					<p>I'm a teenager from Israel who is fascinated about everything, inspired by others and always
						willing to learn. I try to stay in a good mood and keep myself busy by volunteering, playing,
						exploring new places, reading, doing all
						kinds of beneficial deeds and by studying computer science, new languages, physics,
						neuroscience, culture and maths. I was accepted to many prestigious programs for talented
						students over the years and I wrote my first line
						of coded when I was 10. I also like to be outside, meet with friends and solve puzzles (like all
						the Rubik's cubes 😊). I prefer to work from home as I need a lot of time flexibility.</p>
					<div class="row">
						<div class="col-md-4">
							<div class="wel_item"><i class="lnr lnr-database"></i>
								<h4>looking</h4>
								<p>for a nice job</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="wel_item"><i class="lnr lnr-book"></i>
								<h4>Lots</h4>
								<p>of books read</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="wel_item"><i class="lnr lnr-users"></i>
								<h4>100%</h4>
								<p>friendly </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="tools_expert">
					<div class="skill_main">
						<div class="skill_item">
							<h4>JavaScript and Node.js <span class="counter">80</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Web Front-end <span class="counter">90</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Python, Data Science and Machine Learning (in progress) <span class="counter">45</span>%
							</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>React Native for Mobile Apps <span class="counter">63</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="63" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Quick To Understand <span class="counter">85</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4><strong>LANGUAGES:</strong> Hebrew, English, French and Spanish <span
									class="counter">95</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>