<section class="home_gallery_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>Some of My Demo Projects</h2>
			<p>Which are all real-life applicable and fully functioning.</p>
		</div>
		<div class="isotope_fillter">
			<ul class="gallery_filter list">
				<li class="active" data-filter="*"><a href="#">All</a></li>
				<li data-filter=".fe"><a href="#">Front end (Vanilla - no framework)</a></li>
				<li data-filter=".api"><a href="#">API</a></li>
				<li data-filter=".fs"><a href="#">Full stack</a></li>
				<li data-filter=".rn"><a href="#">React Native</a></li>
				<li data-filter=".ng"><a href="#">Angular</a></li>
				<li data-filter=".el"><a href="#">Desktop</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="gallery_f_inner row imageGallery1">
			<div class="col-lg-4 col-md-4 col-sm-6 fe print">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/omnifood.jpg" alt="Omnifood"><a
							class="light" href="/eliavco/omnifood" target="_blank"><img src="img/gallery/icon.png"
								alt="Omnifood"></a></div>
					<div class="g_item_text">
						<h4>Omnifood</h4>
						<p>Demo restaurant -responsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 fe">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/budgety.jpg" alt="Budgety"><a
							class="light" href="/eliavco/budgety" target="_blank"><img src="img/gallery/icon.png"
								alt="Budgety"></a></div>
					<div class="g_item_text">
						<h4>Budgety</h4>
						<p>Demo savings app -unresponsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 fe print">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/pig.jpg" alt="Pig"><a class="light"
							href="/eliavco/pig" target="_blank"><img src="img/gallery/icon.png" alt="Pig"></a></div>
					<div class="g_item_text">
						<h4>Pig Game</h4>
						<p>A simple online luck game -unresponsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 fe print">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/natours-f.jpg" alt="Natours"><a
							class="light" href="/eliavco/natours" target="_blank"><img src="img/gallery/icon.png"
								alt="Natours"></a></div>
					<div class="g_item_text">
						<h4>Natours - frontend</h4>
						<p>Demo tours company -responsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 fe api">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/forkify.jpg" alt="Forkify"><a
							class="light" href="/eliavco/forkify" target="_blank"><img src="img/gallery/icon.png"
								alt="Forkify"></a></div>
					<div class="g_item_text">
						<h4>Forkify</h4>
						<p>Recipes website -unresponsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 fe">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/trello.jpg" alt="Trello"><a
							class="light" href="/eliavco/trello" target="_blank"><img src="img/gallery/icon.png"
								alt="Trello"></a></div>
					<div class="g_item_text">
						<h4>Trello</h4>
						<p>Demo hotel booking app -responsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 fe">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/nexter.jpg" alt="Nexter"><a
							class="light" href="/eliavco/nexter" target="_blank"><img src="img/gallery/icon.png"
								alt="Nexter"></a></div>
					<div class="g_item_text">
						<h4>Nexter</h4>
						<p>Demo realtor app -responsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 fe api fs">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/natours-b.jpg" alt="Natours"><a
							class="light" href="/go" target="_blank"><img src="img/gallery/icon.png" alt="Natours"></a>
					</div>
					<div class="g_item_text">
						<h4>Natours - backend</h4>
						<p>Demo tours company -unresponsive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 api fe rn">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/natours-m.png" alt="Natours"><a
							class="light" href="https://play.google.com/store/apps/details?id=com.eliavco.natoursmob"
							target="_blank"><img src="img/gallery/icon.png" alt="Natours"></a></div>
					<div class="g_item_text">
						<h4>Natours - mobile</h4>
						<p>Demo tours company</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 api fe ng">
				<div class="h_gallery_item">
					<div class="g_img_item"><img class="img-fluid" src="img/gallery/email.png" alt="Email"><a
							class="light" href="https://email-cohen.web.app" target="_blank"><img
								src="img/gallery/icon.png" alt="Email"></a></div>
					<div class="g_item_text">
						<h4>Email</h4>
						<p>Demo (but working) email service</p>
					</div>
				</div>
			</div>
		</div>
		<div class="more_btn"><a class="main_btn" href="mailto:byeliavcoapps@gmail.com" target="_blank">Order the next
				project</a></div>
	</div>
</section>