<section class="feature_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>What can I do for you?</h2>
			<p>If you like some of my demo projects, contact me and I will be happy to make one that matches your needs
				for a decent price (depending on your requirements).</p>
		</div>
		<div class="feature_inner row">
			<div class="col-lg-4 col-md-6">
				<div class="feature_item"><i class="flaticon-city"></i>
					<h4>Web Apps</h4>
					<p>Everything ranging from a simple website to display some data to a very complex website that
						requires databses and a lots of logic, or even just a RESTful API if you need one.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item"><i class="flaticon-skyline"></i>
					<h4>Mobile App</h4>
					<p>Any mobile app for both iOS and Android, they can also be synced with the website if you need to.
						check this simple <a href="https://play.google.com/store/apps/details?id=com.eliavco.natoursmob"
							target="_blank">example</a> for
						android. You can check out the link to the web version of this project below.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item"><i class="flaticon-sketch"></i>
					<h4>Desktop Apps <a href="https://en.wikipedia.org/wiki/Application_programming_interface"
							target="_blank">API</a></h4>
					<p>Installable apps for all 3 platforms: Windows, Linux, and Mac. The apps can include all types of
						functionality you need</p>
				</div>
			</div>
		</div>
	</div>
</section>