<section class="home_banner_area">
	<div class="container box_1620">
		<div class="banner_inner d-flex align-items-center">
			<div class="banner_content">
				<div class="media">
					<div class="d-flex"><img src="img/personal-f.jpg" alt=""></div>
					<div class="media-body">
						<div class="personal_text">
							<h6>Hello Everybody, i am</h6>
							<h3>Eliav<br>Cohen</h3>
							<h4>Junior Web & Mobile Developer</h4>
							<p>A motivated teenager with self-learning skills who wants to contribute to the world and
								make it a better place.</p>
							<ul class="list basic_info">
								<li><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20040131T00"><i
											class="lnr lnr-calendar-full"></i> 31st January, 2004</a></li>
								<li><a href="tel:+9720584793274"><i class="lnr lnr-phone-handset"></i> +972 (058)
										4793274</a></li>
								<li><a href="mailto:contact@eliavco.com"><i class="lnr lnr-envelope"></i>
										contact@eliavco.com</a></li>
								<li><a href="https://www.google.com/maps/@32.7349979,34.9082651,11z" traget="_blank"><i
											class="lnr lnr-home"></i> Haifa region, Israel</a></li>
								<li><a href="https://github.com/eliavco" traget="_blank"><i
											class="lnr lnr-graduation-hat"></i> GitHub Account</a></li>
							</ul>
							<ul class="list personal_social personal_social_up">
								<li><a href="https://en.wikipedia.org/wiki/HTML"><i class="fab fa-html5"></i></a></li>
								<li><a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"><i
											class="fab fa-css3-alt"></i></a></li>
								<li><a href="https://en.wikipedia.org/wiki/JavaScript"><i
											class="fab fa-js-square"></i></a></li>
								<li><a href="https://en.wikipedia.org/wiki/Python_(programming_language)"><i
											class="fab fa-python"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>